.buttonAddToFav {
  width: 100%;
  max-width: 400px;
}

.buttonDirector {
  width: 50%;
}

.buttonGenre {
  width: 50%;
}

.buttonBack {
  width: 100%;
  max-width: 400px;
}

.movie-img {
  max-height: auto;
  max-width: 400px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.cardTitle {
  margin: auto;
  text-align: center;
}

.cardDes {
  text-align: center;
}