.navbar {
  margin-bottom: 5vh;
  margin-top: 2vh;
  border-radius: 5px;
}

.brand {
  padding-left: 20px;
}

#altLink {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(33, 37, 41);
}